{% load static %}
<head>
    <meta charset="utf-8">
    <title>E-Light</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/fav4.png' %}" type="image/png" sizes="32x32">
    
    <!-- Stylesheets -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<div class="container-fluid bg-dark shadow-sm">
    <div class="row align-items-center p-3">
        <div class="col-lg-2 text-center">
            <!-- Logo -->
            <a href="{% url 'userpage' %}" class="navbar-brand">
                <img src="{% static 'images/E-Light.png' %}" alt="logo" height="50">
            </a>
        </div>

        <div class="col-lg-6">
            <!-- Search Bar -->
             <div style="margin-top: 0%;" class="col-10 px-5 d-flex align-items-center">
                              <input type="text"  name="search" id="search"  class="form-control flex rounded-3 me-3 "  placeholder="Search products, brands and categories" >
                 </div> 
        </div>

        <div class="col-lg-4 text-end">
                <a href="{% url 'userpage' %}" class="me-3"> Home</a>
            <!-- User & Cart -->
            {% if user.is_authenticated %}
                <a href="{% url 'profile' %}" class="me-3"><i class="fas fa-user"></i></i> Hi, {{ username }}</a>
                <a href="{% url 'log_out' %}" class=" text-white btn btn-outline-dark btn-sm">Logout</a>
            {% else %}
                <a href="{% url 'sign_in' %}" class="me-3"><i class="fas fa-user"></i> Sign in / Register</a>
            {% endif %}

            <a href="{% url 'cart' %}" class="ms-3 position-relative">
                <i class="fas fa-shopping-cart fa-lg"></i>
                <span class="position-absolute top- 0 text-dark start-100 translate-middle badge rounded-pill bg-white">{{ items_on_cart }}</span>
            </a>
        </div>
    </div>

    <!-- Navigation Links -->
    <div class="row bg-light">
        <div class="col-12 text-center py-2">
            <div class="dropdown d-inline-block">
                <a href="#" class="mx-3 text-dark dropdown-toggle" id="weeklyDealsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    All Categories
                </a>
        
                <form method="get" action="{% url 'search' %}" class="dropdown-menu row  md-col rounded-3 " aria-labelledby="weeklyDealsDropdown" >
                        {% for category in categories %}
                        <button type="submit" name="q" value="{{category.category_name}}" class=" text-dark  col-4 fw-light  fs-5 p-2 cartegory_item  col-md-12  px-o border border-2" style="height: 40px;">
                       {{category.category_name}}
                       </button>
                       {% endfor %}
                       
                       </form>
            </div>
            
            
            <a href="#" class="mx-3 text-dark">Top Brands</a>
            <a href="#" class="mx-3 text-dark">Consumer Electronics</a>
            <a href="#" class="mx-3 text-dark">Home Improvement</a>
            <a href="#" class="mx-3 text-dark">Top Brands</a>
            <a href="#" class="mx-3 text-dark">Consumer Electronics</a>
            <a href="#" class="mx-3 text-dark">Home Improvement</a>
            <a href="#" class="mx-3 text-dark">Top Brands</a>
            <a href="#" class="mx-3 text-dark">Consumer Electronics</a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
