{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include 'head.html'%}

<body>
    <div class="container-fluid bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
        {% comment %} ========N AV IGATION BAR {% endcomment %}
    
       {% include 'nav.html'%}
 
        
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-8 col-md-6">
                        <div class="container-fluid  mx-auto py-5">
                              <div class="row">
                              <div class="col text-center wow fadeInUp" data-wow-delay="0.1s">
                                 {% if messages %}
    {% for message in messages %}
        <div class="alert 
        {% if message.tags == 'error' %}
         alert-danger 
            {% else %} alert-{{ message.tags }} 
            {% endif %}
             alert-dismissible fade show" role="alert" 
            style="text-align: center;">
            <strong>
                {% if message.tags == "success" %}
                    Success!
                {% elif message.tags == "error" %}
                    Error!
                {% elif message.tags == "warning" %}
                    Warning!
                {% else %}
                    Info!
                {% endif %}
            </strong> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
                                    <h1 class="mb-5">{{product.product_name}} <span class="text-primary text-uppercase"></span></h1>
                              </div>
                              </div>
                               
                              <div class="row ">
                                    <div class="col-lg-4 col-md-6 wow  w-75 fadeInUp" data-wow-delay="0.1s">
                              
                                          <div class="row room-item shadow rounded overflow-hidden">
                                                
                                                <div class="col gap-2 position-relative d-flex flex-column align-items-center" style="height: auto;">
                                                        <!-- Large Image -->
                                                        <div class="main-image py-3">
                                                            <img class="img-fluid" src="{{ product_image.product_image.url }}" alt="{{ product.product_name }}" style="width: 300px; height: 200px; object-fit: cover;">
                                                        </div>
                                                        
                                                        <!-- Small Images -->
                                                        <div class="image-gallery d-flex justify-content-center gap-2 mt-1">
                                                            {% for image in All_Images %}
                                                            <div class="small-image">
                                                                <img class="img-fluid" src="{{ image.product_image.url }}" alt="{{ product.product_name }}" style="width: 100px; height: 50px; object-fit: cover;">
                                                            </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
            
                                                <div class=" col p-4 mt-2">
                                                      <div class="d-flex flex-column justify-content-between gap-2 mb-3">
                                                            <h5 class="mb-0 text-start ">{{product.product_name}}</h5>
                                                            <div class="ps-2">
                                                                  <h6 class="text-truncate">
                                                                  Ushs: {{ product.product_price }} 
                                                                  </h6>
                                                                   <p class="text-body mb-3">{{product.product_description}}</p>
                                                            </div>
                                                            <div class="ps-2">
                                                                  <h6 class="text-truncate">
                                                                  Seller's Contact: <a href='tel:{{ product.product_owner.phone_number }}' style="text-decoration: none; color: inherit;">{{ product.product_owner.phone_number }} </a>
                                                                  </h6>
                                                            </div>
                                                             <div class="ps-2">
                                                                  <h6 class="text-truncate">
                                                                  Seller's Email: <p class="mb-2"><i class="fa fa-envelope me-3" > </i> <a href="mailto: {{ product.product_owner.email }}">{{ product.product_owner.email }}</a></p>
                                                                  </h6>
                                                            </div>
                                                      </div>
                                                     
                                                      <div class="d-flex justify-content-between">
                                                            
                                                            <button style="height: 40px" type="button" class="add-cart  btn btn-sm btn-dark rounded py-2 px-4 text-truncate" data-product-id="{{ product.pk }}">
                                                                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                                                                    <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0M9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0"/>
                                                                  </svg>
                                                                  Add to Cart
                                                                </button>
                                                            
                                                      </div>
                                                </div>
                                                
                                          </div>
                                          
                                    </div>

                                    

                              </div>
                              
                              <br/>
                        </div>

                        <br>
                        <br>
                        <br>

                </div>


            </div>           
        </div>
        
        </div>
        <!-- Service End -->
        

        {% include 'footer.html' %}


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
    <script>
     
      $(document).on('click', '.add-cart', function(e) {
            e.preventDefault();
            
            // Get the product ID from the data attribute of the clicked button
            var product_id = $(this).data('product-id');
        
            $.ajax({
                type: 'POST',
                url: '{% url "Add_Item_to_cart" %}',
                data: {
                    product_id: product_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
                success: function(json) {
                    console.log(json);
                },
                error: function(xhr, errmsg, err) {
                    console.error(errmsg);
                }
            });
            location.reload();
        });         

               document.addEventListener("DOMContentLoaded", function () {
        setTimeout(function () {
            let alerts = document.querySelectorAll(".alert");
            alerts.forEach(alert => {
                let bsAlert = new bootstrap.Alert(alert);
                bsAlert.close();
            });
        }, 5000); // 5000ms = 5 seconds
    });
        
    </script>
</body>

</html>