{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include 'head.html'%}

<body>
    <div class="container-fluid bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
        {% comment %} ========N AV IGATION BAR {% endcomment %}
    
       {% include 'nav.html'%}
                               {% if messages %}
    {% for message in messages %}
        <div class="alert 
        {% if message.tags == 'error' %}
         alert-danger 
            {% else %} alert-{{ message.tags }} 
            {% endif %}
             alert-dismissible fade show" role="alert" 
            style="text-align: center;">
            <strong>
                {% if message.tags == "success" %}
                    Success!
                {% elif message.tags == "error" %}
                    Error!
                {% elif message.tags == "warning" %}
                    Warning!
                {% else %}
                    Info!
                {% endif %}
            </strong> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
 
        
        <div class="container-fluid">
            <div class="row ">

                <div class="container-fluid  mx-auto py-5">      
                        <div class="row">
                              <div class="col text-center wow fadeInUp" data-wow-delay="0.1s">
                                    <h1 class="mb-2">{{product.product_name}} <span class="text-primary text-uppercase"></span></h1>
                              </div>
                        </div>

                        <div class="row mb-5">
                                <div class="col-lg-8 col-md-12">
                                    <div id="header-carousel" class="carousel slide bg-primary" data-bs-ride="carousel" style="height: 500px;">
                                        <div class="carousel-inner h-100 w-100">
                                            {% for image in All_Images %}
                                            <div class="carousel-item bg-primary w-100 h-100 {% if forloop.first %}active{% endif %}">
                                                <img class="w-100 h-100 rounded img-fluid" src="{{ image.product_image.url }}" alt="Image">
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon"></span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
                                            <span class="carousel-control-next-icon"></span>
                                        </button>
                                    </div>
                            
                                    <div class="image-gallery d-flex justify-content-center gap-2 mt-1 mb-5">
                                        {% for image in All_Images %}
                                        <div class="small-image">
                                            <img class="img-fluid" src="{{ image.product_image.url }}" alt="{{ product.product_name }}">
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            
                                <div class="col-lg-4 col-md-12 p-2 mt-2  bg-light border border-3 rounded ">
                                    <h5 class="text-start">{{ product.product_name }}</h5>
                                    <h6>Price: Ushs {{ product.product_price }}</h6>
                                    <p class="text-body">{{ product.product_description }}</p>
                                    <h6>Seller's Contact: <a href="tel:{{ product.product_owner.phone_number }}">{{ product.product_owner.phone_number }}</a></h6>
                                    <h6>Seller's Email: <a href="mailto:{{ product.product_owner.email }}">{{ product.product_owner.email }}</a></h6>
                                    <div class="d-flex justify-content-center">
                                        <button type="button" class="add-cart btn btn-sm btn-dark rounded w-100">
                                            <i class="bi bi-cart-plus-fill"></i> Add to Cart
                                        </button>
                                    </div>
                                </div>
                            </div>
                            
                            
                        <br/>
                </div>

                <br>
                <br>
       
            </div>
        </div>
        
        </div>

        

        {% include 'footer.html' %}

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
    <script>
     
      $(document).on('click', '.add-cart', function(e) {
            e.preventDefault();
            
            // Get the product ID from the data attribute of the clicked button
            var product_id = $(this).data('product-id');
        
            $.ajax({
                type: 'POST',
                url: '{% url "Add_Item_to_cart" %}',
                data: {
                    product_id: product_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
                success: function(json) {
                    console.log(json);
                },
                error: function(xhr, errmsg, err) {
                    console.error(errmsg);
                }
            });
            location.reload();
        });         

               document.addEventListener("DOMContentLoaded", function () {
        setTimeout(function () {
            let alerts = document.querySelectorAll(".alert");
            alerts.forEach(alert => {
                let bsAlert = new bootstrap.Alert(alert);
                bsAlert.close();
            });
        }, 5000); // 5000ms = 5 seconds
    });
        
    </script>
</div>

</html>