{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Light | Sell</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="golden">
    <meta content="" name="hotel">

    <!-- Favicon -->
    <link style="border-radius: 20px;" href="{% static 'images/logo.png' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href=" {% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href=" {% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css'%}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href=" {% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
   {% if request.user.is_authenticated %}
       {% include 'nav.html'%}
       {% else %}
       <div class="container-fluid bg-dark px-0">
            <div class="row gx-0 ">
                <div class="col-lg-9">

                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
                        {% comment %} <div style="margin-top: 0%;" class="col-2">
                             <a href="{% url 'userpage' %}" > <img src="{% static 'images/logo.png' %}" alt="Amazima logo"
                                  height="100px" width="100px"
                                  style="border-radius: 20px;"><a/>
              
                          </div> {% endcomment %}
  
                          <div  class="col-lg-3 bg-dark d-none d-lg-block" style="margin-left: 3%;">
                              <a href="{% url 'userpage' %}" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center ">
                                  <h1 style="font-family: 'Times New Roman', Times, serif;" class="m-0 text-primary "> E-Light <br>  </h1>
                              </a>
                          </div>
                        <a href="{% url 'userpage' %}" class="navbar-brand d-block d-lg-none">
                          <h1 
               style="font-family: 'Times New Roman', Times, serif;" class="m-0 text-primary "> E-Light</h1>
                        </a>
                        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div style="margin-left: 37%;" class="collapse navbar-collapse justify-content-between bg-transparent" id="navbarCollapse">
                          <div class="navbar-nav mr-auto py-0">
                            <a href="{% url 'userpage' %}" class="nav-item nav-link" onclick="home">Home</a>
                            <a id="about" href="{% url 'about' %}" class="nav-item nav-link " onclick="about">About</a>
                            <a id="services" href="{% url 'service' %}" class="nav-item nav-link" onclick="services">Services</a>
                            <a id="contact" href="{% url 'contact' %}" class="nav-item nav-link" onclick="contact">Contact</a>
                            {% comment %} <a id="contact" href="" class="nav-item nav-link" onclick="contact">Sign Up</a> {% endcomment %}
                          </div>
                          <ul class="navbar-nav mb-lg-0">
                            <li class="nav-item">
                              <a href="{% url 'sign_in' %}" class="btn btn-sm btn-light rounded py-2 px-4">LogIn</a>
                            </li>
                            <li class="nav-item">
                              <a href="{% url 'sign_up' %}" class="btn btn-sm btn-outline-light rounded py-2 px-4">SignUp</a>
                            </li>
                          </ul>
                        </div>
                      </nav>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
                <div class="col text-center wow fadeInUp" data-wow-delay="0.1s">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert" style="text-align: center; background-color: rgb(171, 188, 188);">
                        <strong>Info</strong> {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                    {% endif %}
                   
                </div>
            </div>
 
            <div class="container my-5 mb-5"  id="AddProductModal" >
                  <div class="row  ">
                   <h5 class="text-center"> Sell Something </h5>
                  </div>

                  <div class=" my-2  mb-5">
                        <div class="row">
                              <section class="sign-in-form section-padding">
                                    <div class="container">
                                          <div class="row">
                              
                                                <div class="col-lg-8 mx-auto col-6">
                              
                                                      <div class="col bg-black">
                                                            <div class="col-lg-11 offset-0 flex p-3  ">
                                                                  <form role="form" class="border border-dark border-2 rounded-end p-2 mb-5" method="post" action="{% url 'sell' %}" enctype="multipart/form-data">
                                                                        {% csrf_token %}
                                    
                                                                        <div class="form-floating d-flex " style='margin-bottom:10px;' >
                                                                              <input type="text" name="name" id="name"  class="form-control " placeholder="name" required>
                                    
                                                                              <label for="name">Product name</label>
                                                                        </div>
                                    
                                                                        <div class="form-floating d-flex" style="margin-bottom:10px">
                                                                                <select name="cartegory" id="cartegory" class="form-control form-select" required>
                                                                                <option value="" disabled selected>Select cartegory</option>
                                                                                <option value="vehicles">Vehicles</option>
                                                                                <option value="electronics">Electronics</option>
                                                                                <option value="fashion">Fashion</option>
                                                                                <option value="properties">Properties</option>
                                                                                <option value="health">Health</option>
                                                                                <option value="art-and-crafts">Art and Crafts</option>
                                                                                <option value="accessories">Accessories</option>
                                                                                <option value="furniture">Furniture</option>
                                                                                <option value="services">Services</option>
                                                                                </select>
                                                                                <label for="cartegory">Cartegory</label>
                                                                        </div>
                                    
                                                                        <div class="form-floating " style='margin-bottom:10px'>
                                                                              <input type="tel" name="description" id="description"  class="form-control" placeholder="describe" required>
                                    
                                                                              <label for="description">describe your item with about five words separated by comma </label>
                                                                        </div>

                                                                        <div class="form-floating" style="margin-bottom:10px">
                                                                                <select name="condition" id="condition" class="form-control form-select" required>
                                                                                <option value="" disabled selected>Select condition</option>
                                                                                <option value="new">New</option>
                                                                                <option value="used">Used</option>
                                                                                <option value="refurbished">Refurbished</option>
                                                                                </select>
                                                                                <label for="condition">Condition</label>
                                                                        </div>
                                    
                                                                        <div class="form-floating">
                                    
                                                                        <input type="number" name="price" id="price" class="form-control" placeholder="price" required>
                                    
                                                                        <label for="price">price</label>
                                                                        </div>
                                                                        
                                                                
                                                                        <div class="form-floating my-4">
                                                                        <input type="file" name="images" id="images"  class="form-control" placeholder="Images"  multiple  required>
                                    
                                                                        <label for="images">Upload up to 5 images</label>
                                                                        </div>
                                                
                                                                        <button type="submit" class="btn btn-dark custom-btn form-control   mt-1"  style="width: 150px; color: chocolate;margin-left: 40%;" >
                                                                        Post product
                                                                        </button>
                                    
                                                                  
                                    
                                                                  </form>
                                                            </div>
                                                      </div>
                              
                                                </div>
                              
                                          </div>
                                    </div>
                              </form>
                        </div>
                        </div>
        </div>
        {% include 'footer.html' %}
        <script>
    const maxFiles = 5;
    document.getElementById('images').addEventListener('change', function() {
        if (this.files.length > maxFiles) {
            alert(`You can only upload up to ${maxFiles} images.`);
            this.value = ''; // Clear the selected files
        }
    });
</script>
</body>
</html>
