{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include 'head.html'%}

<body  >
    <div class="container-fluid bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
        {% include 'nav.html'%}

        {% if messages %}
        {% for message in messages %}
          <div class=" alert alert-{{ message.tags }} alert-dismissible fade show" role ="alert" style= "text-align : center;background-color: rgb(171, 188, 188);">
            <strong>
              Info
            </strong> {{ message }}
            <button type ="button" class="btn-close" data-bs-dismiss="alert" aria-label="close">

            <span  aria-hidden="true"> &times;</span>
            </button>
          </div>
        {% endfor %}
      {% endif %}

        <!-- HERO Start -->
            <div class="container-fluid row px-3 mt-2 mb-5 flex ml-5 ">

                <div class=" col-md-3 col-lg-2  d-flex flex-column h-75 bg-white  ml-5 my-5 rounded-3 border"  >
                        <h1 class="text-dark fs-4 " >Cartegories</h1>
                        <form method="get" action="{% url 'search' %}" >
                         <button type="submit" name="q" value="Vehicle" class=" text-dark fw-light  fs-5 p-2 cartegory_item col-12 px-o border border-0" style="height: 40px;">
                        Vehicles
                        </button>
                        <button type="submit" name="q" value="Electronic" class=" text-dark fw-light  fs-5 p-2 cartegory_item col-12 px-o border border-0" style="height: 40px;">
                        Electronics
                        </button>
                        <button type="submit" name="q" value="Fashion" class=" text-dark fw-light  fs-5 p-2 cartegory_item col-12 px-o border border-0" style="height: 40px;">
                        Fashion
                        </button>
                       
                       <button type="submit" name="q" value="Properties" class=" text-dark fw-light  fs-5 p-2 cartegory_item col-12 px-o border border-0" style="height: 40px;">
                        Properties
                        </button>

                         <button type="submit" name="q" value="Health" class=" text-dark fw-light  fs-5 p-2 cartegory_item col-12 px-o border border-0" style="height: 40px;">
                        Health
                        </button>

                         <button type="submit" name="q" value="Art and Crafts" class=" text-dark fw-light  fs-5 p-2 cartegory_item col-12 px-o border border-0" style="height: 40px;">
                        Art and Crafts
                        </button>

                          <button type="submit" name="q" value="Accessories" class=" text-dark fw-light  fs-5 p-2 cartegory_item col-12 px-o border border-0" style="height: 40px;">
                       Accessories
                        </button>

                         <button type="submit" name="q" value="Furnitue" class=" text-dark fw-light  fs-5 p-2 cartegory_item col-12 px-o border border-0" style="height: 40px;">
                       Furnitue
                        </button>

                        <button type="submit" name="q" value="Services" class=" text-dark fw-light  fs-5 p-2 cartegory_item col-12 px-o border border-0" style="height: 40px;">
                       Services
                        </button>
                        </form>
                       
                </div>

                <div id="header-carousel" class=" carousel  slide  col-md-9 col-lg-10 " data-bs-ride="carousel">

                        <div class=" row" >
                              <div class="carousel-inner mt-5" >
                                    <div class="carousel-item active">
                                          <img class="w-100" src="{% static 'images/E-Lightblack.png' %}" height="400" width='200' alt="Image">
                                          <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                          <div class="p-3" style="max-width: 700px;">
                                                
                                               
                                                <a href="{% url 'sell' %}" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Sell Something</a>
                                                <a href="#meals" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Order a Meal</a>
                                          </div>
                                          </div>
                                    </div>
                                    {% if data %}
                                    {% for instance in data %}
                                    <div class="carousel-item">
                                          <img class="w-100" src="{{ MEDIA_URL }}{{ instance.images.first.product_image }}" height="400" alt="Image">
                                          <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                          <div class="p-3" style="max-width: 700px;">
                                                <!-- <h1 class="display-3 text-white mb-4 animated slideInDown">Amazima Restaurant</h1> -->
                                                <a href="{% url 'sell' %}" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Sell Something</a> <!-- ADD MENU PDF-->
                                                <a href="#meals"  class="btn btn-light py-md-3 px-md-5 animated slideInRight">Order a Meal</a>
                                          </div>
                                          </div>
                                    </div>
                                    {% endfor %}
                                    {% else %}
                                    <div class="carousel-item">
                                                <img class="w-100" src="{% static 'images/Screenshot 2023-10-10 130155copy.png' %}"  height="400" alt="Image">
                                                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                                        <div class="p-3" style="max-width: 700px;">
                                                                <!-- <h1 class="display-3 text-white mb-4 animated slideInDown">Amazima Restaurant</h1> -->
                                                                <a href="{% url 'sell' %}" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Sell Something</a> <!-- ADD MENU PDF-->
                                                                <a href="#meals"  class="btn btn-light py-md-3 px-md-5 animated slideInRight">Order a Meal</a>
                                                        </div>
                                                </div>
                                                {% endif %}

                                    
                                                <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                                                data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                                </button>
                                                <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                                                        data-bs-slide="next">
                                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                        <span class="visually-hidden">Next</span>
                                                </button>
                                        </div>
                                </div>
                        </div>
            </div>
        <!-- HERO End -->

    </div>
    <div class="row" >
        <!--============== BREAK FAST============ -->
  <div class="container mb-5">
        <div class="container">
        {% if results %}
        <div class="row g-4 mt-2">
        <h2>Search Results for "{{ query }}"</h2>
              {% for instance in results %}
              <div id="products" class="col-lg-3 col-md-6 mb-5 wow fadeInUp  " data-wow-delay="0.1s">
                          
                    <div id="" class="product_data col room-item bg-white shadow rounded rounded-3 overflow-hidden">

                          <div class="position-relative d-flex justify-content-center align-items-center flex-column" style="height: 200px;">
                                <a href="{% url 'detail' instance.pk %}">
                                {% if instance.images.all %}
                                <img class="img-fluid" src="{{ MEDIA_URL }}{{ instance.images.first.product_image }}" width="300" height="200" alt="food">
                                {% endif %}
                                </a>
                          </div>

                          <div class="p-1">
                                <div class="d-flex  justify-content-center text-center ">
                                      <h5 class="mb-0 ">{{instance.product_name}}</h5>

                                </div>

                                <div class="d-flex flex-column justify-content-between">
                                          <p class="text-body "> {{ instance.product_description|truncatechars:25 }}</p>
                                           <p class=" px-4" > Ushs: {{ instance.product_price }} </p>
                                </div> 
                          </div>

                    </div>

              </div>
              {% endfor %}
        </div>
        {% else %}
        <div class="row g-2 mb-5">
              {% for instance in data %}
              <div id="products" class="col-lg-3 col-md-3 wow fadeInUp  " data-wow-delay="0.1s">

                    <div id="" class="product_data col-12 room-item bg-white shadow rounded rounded-3 overflow-hidden">

                          <div class="position-relative d-flex justify-content-center align-items-center flex-column" >
                                <a href="{% url 'detail' instance.pk %}">
                                {% if instance.images.all %}
                                <img class="img-fluid" src="{{ MEDIA_URL }}{{ instance.images.first.product_image}}" width="300" height="200" alt="food">
                                {% endif %}
                                </a>
                          </div>

                          <div class="p-1">
                                <div class="d-flex  justify-content-center text-center ">
                                      <h5 class="mb-0 ">{{instance.product_name}}</h5>

                                </div>

                                <div class="d-flex flex-column justify-content-between">
                                          <p class="text-body text-md-truncate"> {{ instance.product_description|truncatechars:30 }}</p>
                                           <p class="px-4 px-md-0 text-truncate" > Ushs: {{ instance.product_price }} </p>
                                </div> 
                          </div>

                    </div>

              </div>
              {% endfor %}
        </div>
        {% endif %}
        
        </div>
  </div>
  <!--================ BREAK FAST ENDS============ -->
  </div>

  {% include 'footer.html' %}
   <!-- Back to Top -->
   <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
    {% comment %} <script>
      function geekAlert() {
            alert("Product successfully added to cart");
        };
    </script> {% endcomment %}
    <script>

    $(document).ready(function () {
                  $("#search").on("keyup", function () {
                      var value = $(this).val().toLowerCase();
                      $("#products .product_data").filter(function () {
                          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                      });
                  });
              });

      $(document).on('click', '.add-cart', function(e) {
            e.preventDefault();

            // Get the product ID from the data attribute of the clicked button
            var product_id = $(this).data('product-id');

            $.ajax({
                type: 'POST',
                url: '{% url "Add_Item_to_cart" %}',
                data: {
                    product_id: product_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
                success: function(json) {
                    console.log(json);
                },
                error: function(xhr, errmsg, err) {
                    console.error(errmsg);
                }
            });
        });

    </script>
            
    {% comment %} <script>
            $(document).on('click', '#add-cart', function(e){
            e.preventDefault();
            $.ajax({
                  type: 'POST',
                  url: '{% url 'Add_Item_to_cart' %}',
                  data: {
                        product_id: $('#add-cart').val(),
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        action: 'post'
                  },

                  success: function (json) {
                        console.log(json)
                  },

                  error: function (xhr, errmsg, err){

                  }
            });

      });
    </script> {% endcomment %}
</body>

</html>